@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --background: #0a0a0a;
  --foreground: #ededed;
  font-size: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.track {
  background: white;
  height: 20px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: white;
  height: 20px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  /* Remove default styling */
  height: 20px;
  width: 20px;
  background: black;
  border: 1px solid white;
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  background: white;
  height: 20px;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  /* Remove default styling */
  height: 20px;
  width: 20px;
  background: black;
  border: 1px solid white;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  background: white;
  height: 20px;
}

input[type="range"]::-ms-fill-lower {
  background: white;
  /* Lower fill color */
}

input[type="range"]::-ms-fill-upper {
  background: white;
  /* Upper fill color */
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  appearance: none;
  /* Remove default styling */
  height: 20px;
  width: 20px;
  background: black;
  border: 1px solid white;
  cursor: pointer;
}